.layout{


    height: 100vh;
    width: 100%;
    background-color: goldenrod;
}


.header {

    width: 100%;
    height: 10%;
    background-color: wheat;
}


.stream{

    height: 60%;
    background-color: white;
}

.listOfChannels{
    flex: 1;
}